* {
    box-sizing: border-box;
}
body {

    background-image: url("../images/backimage.jpg");
    color: lightgray;
    size: 18px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.logotext{
    color: white;
    font-size: 38px;
    font-family: fantasy;
    vertical-align: top;
}

.title{
    font-size: 10px;
    font-family: sans-serif;
    color: #A8A8A8;
}

input[type=text] {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

a:link {
    color: white;
    font-size: 24px;
}
a:visited {
    color: gray;
}
a:hover {
    color: lightblue;
}
a:active {
    color: blue;
}

input {
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    color: black;
    box-sizing: border-box;
}
input[type="number"]{
    width: 60px;
}

select{
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    color: black;
    box-sizing: border-box;
}

.footertext{
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid lightgray;
}

.footertext a:link {
    text-decoration: none
}


