* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/backimage.jpg");
    color: lightgray;
    size: 12px;
}

.logotext{
    color: white;
    font-size: 24px;
    font-family: fantasy;
    vertical-align: top;
}

.container-fluid{
    margin-top:12px;
}

.searchbar{
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.recommendedvideos{
    margin-top: 36px;
    background-color: #DCD0C0;
    border: 2px solid #C0B283;
    color: black;
}

a:link {
    color: white;
    font-size: 12px;
}
a:visited {
    color: gray;
}
a:hover {
    color: lightblue;
}

a:active {
    color: blue;
}

select{
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    color: black;
    box-sizing: border-box;
}

.footertext{
    text-align: center;
    size: 12px;
    padding: 10px;
    margin: 10px;
    border: 2px solid lightgray;
}

.footertext a:link {
    text-decoration: none
}


